{% extends "inventario/comun/base.html" %}
{% include 'path/to/scanModal.html' %}
{% load my_filters %}
{% load static %}

{% block content %}
<article class="content forms-page">
    <div class="title-block">
        <h3 class="title">{% if editar %}Editar producto{% else %}Agregar producto{% endif %}</h3>
        <p class="title-description">{% if editar %}Cambie los datos del producto{% else %}Introduzca los datos del producto{% endif %}</p>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="card card-primary">
                            <div class="card-header"> 
                                <div class="header-block">
                                    <em class="fa fa-check"></em>
                                    <p class="title">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card card-block sameheight-item">
                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'codigo_barra' and field.name != 'imagen_producto' %}
                                <div class="form-group">
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="alert alert-danger">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!-- Campos personalizados fuera de la iteración -->
                        <div class="form-group">
                            <button type="button" id="btn-scan-qr" data-toggle="modal" data-target="#modalScanner">
                                Escanear Código
                            </button>
                            <div style="margin-left: 10px; display: inline-block;">
                                Código escaneado: <input type="text" id="codigoBarra" name="codigo_barra" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_imagen_producto">Imagen del Producto:</label>
                            <input type="file" class="form-control-file" id="id_imagen_producto" name="imagen_producto">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                        <div id="avisoRapido">Código escaneado</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}