{% extends "inventario/comun/base.html" %}
{% include 'path/to/scanModal.html' %}
{% load my_filters %}
{% load static %}

{% block content %}
<article class="content">
    <div class="title-block">
        <h1 class="title">Carrito de Compras</h1>
    </div>
    <section class="section">
        <!-- Bloque de mensajes -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <h3 class="title">Productos en el Carrito</h3>
                        <!-- Botón para iniciar el escaneo en carrito.html -->
                        <button id="startScanButton" class="btn btn-primary" data-toggle="modal" data-target="#scanModalCarrito">Escanear Producto</button>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Subtotal</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in products %}
                                        <tr id="product-row-{{ item.product.id }}">
                                            <td>
                                                {% if item.product.imagen_producto %}
                                                    <img src="{{ item.product.imagen_producto.url }}" alt="{{ item.product.descripcion }}" class="expand-on-hover" height="50">
                                                {% else %}
                                                    Sin Imagen
                                                {% endif %}
                                            </td>
                                            <td>{{ item.product.descripcion }}</td>
                                            <td>
                                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                                                <button type="button" class="btn btn-primary btn-update-cart" data-product-id="{{ item.product.id }}">Actualizar</button>
                                            </td>
                                            <td class="product-price">{{ item.product.precio|floatformat:2 }}</td>
                                            <td class="subtotal-cell">{{ item.product.precio|floatformat:2|multiply:item.quantity|floatformat:2 }}</td>
                                            <td>
                                                <a href="{% url 'inventario:remove_from_cart' item.product.id %}" class="btn btn-danger remove-from-cart">Eliminar</a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5">No hay productos en el carrito.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if products %}
                            <div class="card-footer">
                                <h4>Total: <span class="total-carrito">{{ total|floatformat:2 }}</span></h4>
                                <form id="id-form-checkout" method="post" action="{% url 'inventario:checkout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Finalizar Compra</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}
{% block javascript %}
<script src="{% static 'inventario/js/cart.js' %}"></script>
{% endblock %}
