                <!-- MODAL DE ARCHIVOS -->

                <div class="modal fade" id="modal-media">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Media Library</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                            </div>
                            <div class="modal-body modal-tab-container">
                                <ul class="nav nav-tabs modal-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                                    </li>
                                </ul>
                                <div class="tab-content modal-tab-content">
                                    <div class="tab-pane fade" id="gallery" role="tabpanel">
                                        <div class="images-container">
                                            <div class="row"> </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                        <div class="upload-container">
                                            <div id="dropzone">
                                                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                                    <div class="dz-message-block">
                                                        <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Insert Selected</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->




                <!-- MODAL DE CONFIRMACION -->

                <div class="modal fade" id="confirm-modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <i class="fa fa-warning"></i> Atencion</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Esta seguro que desea eliminar esta entrada? Una vez borrada no se podra recuperar!</p>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary" id="modal_borrar" href="#">Si,borrar</a>
                                <a type="button" class="btn btn-secondary" data-dismiss="modal">No, cambie de opinion</a>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

<!-- FIN DE MODAL -->


<!-- Modal para el escáner de QR -->
<div class="modal" id="modalScanner" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Escaner de Código</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="qr-reader" class="w-100"></div>
                <div id="qr-reader-results"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el escáner de QR en carrito.html -->
<div class="modal fade" id="scanModalCarrito" tabindex="-1" role="dialog" aria-labelledby="scanModalCarritoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document"> <!-- Clase para centrar y controlar tamaño -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scanModalLabel">Escáner QR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="qr-reader-carrito" class="w-100" style="position: relative;"></div>
                <div id="escaner-qr-detalles" class="product-details">
                    <!-- Contenido del modal aquí -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="scanNextButton">Escanear otro producto</button>
            </div>
        </div>
    </div>
</div>


<!-- FIN DE MODAL -->

<!-- Modal para detalles del producto escaneado -->
<div class="modal fade" id="scanModalListar" tabindex="-1" role="dialog" aria-labelledby="scanModalListarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scanModalLabel">Detalles del Producto Escaneado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="qr-reader-listar" class="w-100"></div>
                <div id="escaner-qr-detalles-listar" class="modal-footer-detalles-listar"></div>
            </div>
            <div class="modal-footer" id="modal-footer-detalles">
                <button type="button" class="btn btn-primary" id="btnAgregarAlCarrito">Agregar al Carrito</button>
                <button type="button" class="btn btn-secondary" id="btnEditarProducto" data-product-id="{{ producto.id }}">Editar Producto</button>
                <button type="button" class="btn btn-success" id="btnAgregarProducto" style="display: none;">Agregar Producto</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar precios -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="priceModalLabel">Precios del Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-product-price">Cargando precios...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Impuestos -->
<div class="modal fade" id="manageTaxesModal" tabindex="-1" role="dialog" aria-labelledby="manageTaxesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manageTaxesModalLabel">Gestionar Impuestos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí puedes incluir el formulario para añadir/editar impuestos y la tabla de impuestos existentes -->
                <form id="taxForm" novalidate>
                    <div class="form-group">
                        <label for="taxName">Nombre del Impuesto:</label>
                        <input type="text" class="form-control" id="taxName" name="taxName" required>
                    </div>
                    <div class="form-group">
                        <label for="taxRate">Tasa del Impuesto (%):</label>
                        <input type="number" class="form-control" id="taxRate" name="taxRate" step="0.01" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar Impuesto</button>
                </form>
                <hr>
                <h6>Impuestos Existentes</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tasa (%)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="taxTableBody">
                        <!-- Los datos de los impuestos se cargarán aquí dinámicamente -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar producto -->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="modal-form-body">
                        <!-- Aquí se cargará el formulario de edición -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
                <button id="btn-scan-qr-edit" class="btn btn-primary" data-toggle="modal" data-target="#modalScanner">Escanear Código de Barras</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el escáner de QR en editar producto -->
<div class="modal fade" id="modalScanner" tabindex="-1" role="dialog" aria-labelledby="modalScannerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalScannerLabel">Escanear Código de Barras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="qr-reader-editar" class="w-100"></div>
                <div id="qr-reader-results-editar"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
