{% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src='{% static "inventario/js/alertify.js" %}'></script>
<script src='{% static "inventario/js/vendor.js" %}'></script>
<script src='{% static "inventario/js/app.js" %}'></script>
<script src='{% static "inventario/js/plugins/jQueryUI/jquery-ui.js" %}'></script>
<script src='{% static "inventario/js/bower_components/datatables.net/js/jquery.dataTables.js" %}'></script>
<script src='{% static "inventario/js/bower_components/datatables.net-bs/js/dataTables.bootstrap4.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"></script>
<script src="{% static 'inventario/js/escaner.js' %}"></script>
<script src="{% static 'inventario/js/cart.js' %}"></script>
<script src="{% static 'inventario/js/precios.js' %}"></script>
<script src="{% static 'inventario/js/calculadora.js' %}"></script>
<script src="{% static 'inventario/js/configuracion.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

<script>
  $(document).ready(function() {
    // Registrar el formato de fecha DD/MM/YYYY con DataTables para ordenar
    $.fn.dataTable.moment('DD/MM/YYYY');

    // Inicializa DataTables en la primera tabla
    $('#example1').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        "scrollCollapse": false
    });

    // Inicializa DataTables en la segunda tabla
    $('#example2').DataTable({
        'paging': false,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': true,
        "scrollCollapse": false
    });
  });

  // Función para remover acentos
  function removeAccents(data) {
    return data
      .normalize('NFD')
      .replace(/[\u0300-\u036f]/g, '');
  }
    
  // Plugin de búsqueda para DataTables
  $.fn.dataTable.ext.type.search.string = function(data) {
    return !data ?
      '' :
      typeof data === 'string' ?
      removeAccents(data) :
      data;
  };

  window.onscroll = function() {
    var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
    var tableOffset = document.querySelector('.sticky-table-header').offsetTop;
    var table = document.querySelector('.table-responsive');

    if (scrollPosition > tableOffset) {
        table.style.position = 'fixed';
        table.style.bottom = '0';
    } else {
        table.style.position = 'static';
    }
  };

  // Script para la transparencia y expansión del header
  document.addEventListener("DOMContentLoaded", function() {
      const header = document.getElementById('main-header');
      let timeout;

      // Función para hacer el header transparente después de 5 segundos
      function makeHeaderTransparent() {
          header.classList.add('transparent');
      }

      // Función para hacer el header sólido y expandido cuando el mouse está cerca
      function expandHeader() {
          clearTimeout(timeout);
          header.classList.remove('transparent');
          header.classList.add('expanded');
      }

      // Función para iniciar el temporizador de transparencia
      function startTransparencyTimer() {
          timeout = setTimeout(makeHeaderTransparent, 1000);
      }

      // Detectar el movimiento del mouse sobre el header
      header.addEventListener('mouseenter', expandHeader);

      // Detectar el movimiento del mouse fuera del header
      header.addEventListener('mouseleave', function() {
          header.classList.remove('expanded');
          startTransparencyTimer();
      });

      // Iniciar el temporizador de transparencia cuando la página se carga
      startTransparencyTimer();
  });

  document.addEventListener('DOMContentLoaded', function () {
    $('.edit-product-btn').on('click', function () {
        var productId = $(this).data('product-id');
        $.ajax({
            url: '{% url "inventario:editar_producto" 0 %}'.replace('0', productId),
            type: 'GET',
            success: function (response) {
                $('#modal-form-body').html(response);
                $('#editProductForm').attr('action', '{% url "inventario:editar_producto" 0 %}'.replace('0', productId));
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    });

    $('#editProductForm').on('submit', function (event) {
        event.preventDefault();
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {
                    $('#editProductModal').modal('hide');
                    location.reload();
                } else {
                    $('#modal-form-body').html(response);
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    });
});


</script>
